@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background:#FAF9FA;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #212124;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}
